.container.container-login {
  width: 50%;
  height: 100%;
  padding: 2.5rem;
  border: 2px solid var(--text-color);
  font-family: 'Aclonica', sans-serif;
  margin-top: 1rem;
  margin-left: 30rem;
}

.login-tittle{
    text-align: center;
    padding-top: 10vw;
    padding-bottom: 10vh;
    color: var(--text-color);
    margin-top: -10vh;
}

.row.justify-content-center.align-items-center {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.mb-3{
    text-align: start;
}

.login-form{
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: center;
}

label.form-label{
    color: var(--text-color);
}

input.form-control,input.form-control:focus{
    background-color: black;
    color: var(--text-color);
    border-color: var(--text-color);
}


.btn.btn-primary{
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--text-color);
}

.btn.btn-primary:hover{
    background-color: var(--text-color);
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--text-color);
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}


.login_modal {
    position: relative;
  
    text-align: center;
    width: 80%;
    padding: 15px;
    margin-left: 50px;
    border: 2px solid darkred;
    border-radius: 5px;
    background-color: rgba(139, 0, 0, 0.5);
  
    margin-bottom: 15px;
  }
  
  .login_modal .login_modal-text {
    color: rgb(255, 231, 231);
    margin: 0px;
  }


.divider{
    border-top: 1px solid var(--text-color);
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.span-register{
    color: gray;
    padding-bottom: 2vh;
}



